$(".panel-body[data-poll-id=#{@poll.token}]").html("#{escape_javascript(render 'poll', poll: @poll)}");
- broadcast '/answers' do
  $(".panel-body[data-poll-id=#{@poll.token}]").html("#{escape_javascript(render 'poll', poll: @poll)}");